body{
    font-family: 'Exo 2', sans-serif;
    padding: 2%;
}
#button-row{
    margin: 10% auto;    
}

.boton{
    margin: auto;
}

.title{
    color: #ff6600;
    font-weight: bolder;
}
input{
    display: block;
    margin-bottom: 1%;
}
select{
    display: block;
    margin-bottom: 1%;
}
.container-fluid{
    margin-top: 2%;
}
#addQ{
    margin-top: 2%;
    margin-left: 48.5%;
}
.table-head{
    margin-bottom: 1%;
}

